.button-86 {
    all: unset;
    width: 140px;
    height: 40px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    /* padding: 10px 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: 'Inter', sans-serif;
    
  }
  
  .button-86::after,
  .button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button-86::before {
    scale: 1;
    width: 100%;
    height: 100%;
    background: #3D4917;
    border-radius: 60px;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  
  .button-86::after {
    scale: 1.1;
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 60px;
  }
  
  .button-86:hover::before {
    width: 110%;
    height: 110%;
  }
  
  .button-86:hover::after {
    border-radius: 60px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }